<div class="product">
  <img routerLink={{product.id}} class="product_image" [src]="product.image" [alt]="product.title">
  <h2 class="product_title" routerLink={{product.id}}>{{ product.title }} </h2>
  <h3>Price: {{ product.price | currency: "EUR" }}</h3>
  <button
    [ngClass]="{'button-hide' : details}"
    (click)="details=!details"
  >
    {{details ? 'Hide' : 'Details' }}
  </button>
  <div *ngIf="details" class="product_details">
    <p>{{ product.description }}</p>
    <p>Rating: {{ product.rating.rate }}</p>
  </div>

</div>
